* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --secundary-font: 18px;
    --primary-color: #265073;
    --secundary-color: #F1FADA;
    --font-primary: "Roboto", sans-serif;
    --font-secundary: "Roboto Slab", serif;
}

header,
section h2 {
    font-family: var(--font-secundary);
}

body {
    font-family: var(--font-primary);
}

header {
    padding: 16px 0;
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

header nav li {
    display: inline;
    margin-left: 10px;
    font-size: var(--secundary-font)
}

header nav li a {
    color: var(--secundary-color);
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 40px;
}

.brands-list li {
    display: inline;
    text-decoration: none;
    margin-right: 8px;
}

.my-image {
    height: 400px;
    margin-right: 32px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: var(--primary-color);
}

section p {
    margin-bottom: 8px;
}