* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 16px 0;
    background-color: #265073;
    color: #F1FADA;
}

header nav li {
    display: inline;
    margin-left: 10px;
    font-size: 18px;
}

header nav li a {
    color: #F1FADA;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}